/* Estilos para el contenedor de login */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 100px auto;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
label, input {
    display: block;
    width: 100%;
}
input {
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos para el contenedor de administración */
.admin-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
form {
    margin-bottom: 20px;
}

